.sparkle1 {
  z-index: 0;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 30rem;
  height: 30rem;
  opacity: 0.25;
  background: radial-gradient(circle 250px, white, #c46f00);
  background-repeat: no-repeat;
}
